<style>
	.logo {
		height:75px;
		width:50px;
		background-repeat: no-repeat;
		background-image:url(/logo50px.jpg);
	}
	.headerLabel {
		padding-left: 5px;
	}
</style>
<table width="100%" style="background-color:#78b9f3;">
	<tr>
		<td width="50px">
			<div class="logo"></div>		
		</td>
		<td valign="bottom">
			<div class="slds-m-left--medium">
				Buy your dream car with us!<br/>
				<span class="slds-text-heading--large headerLabel">
				ELTORO Cars
				</span>
			</div>
		</td>
	</tr>
</table>



